.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/images/desktop-wallpaper-black-background-pics.jpg') no-repeat center center/cover;
    background-size: cover;
    margin-top: 0;  /* Ensure there's no margin pushing it down */
    padding-top: 0;  /* Remove any padding */
}

.hero-content {
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}
